#one{
    text-align: center;
    background-color:aqua;
}
.one1{
    margin-top:400px;

}
.button{
        font-size:60px;
        width:200px;
        border:5px black solid;
        border-radius:0px;
        padding:7px; 
}
.button:hover{
    background-color:black;
    color:white;
    cursor: pointer;
}
#two{
    margin-top:400px;
    font-size:40px;
    display: flex;
    flex-direction:column;

}
#inputnum{
    font-size:30px;
    width: 400px;
    height: 50px;
    border-radius:50px;
    padding:6px;

}
#button{
   font-size:30px;
    width: auto;
    height: 50px;
    border-radius:50px;
    padding:6px;
}
#button:hover{
    background-color:black;
    color: white;
}
.text{
    font-size:40px;
}
#restartbutton{
    width:150px;
    height:50px;
    font-size:30px;
}
#restartbutton:hover{
    background-color:black;
    color:white;
    cursor: pointer;
}
#win{
    padding-top:300px;
    background-color:black;
    color: white;
    text-align:center;

}